@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0e0e0e;
  --clr-default: #5c10f4;
  --clr-default-hover: #773bee;
  --clr-bg: #261c3c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-default: var(--clr-default);
  --color-default-hover: var(--clr-default-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-questrial: "Questrial", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-questrial);
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: normal;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.dark {
  color-scheme: dark;
}

section {
  scroll-snap-align: start;
}

.section {
  padding-top: 2.5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.logo {
  font-size: 16pt;
  font-weight: 600;
  font-family: "Questrial", serif;
  z-index: 2;
  background-image: linear-gradient(to right, #5c10f4, #8d10f4, #5d2ac2, #5c10f4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

/* Adiciona o efeito de underline */
.menu .animation {
  position: absolute;
  bottom: -.2rem;
  height: 3px;
  border-radius: 2px;
  background-color: #5c10f4;
  transition: left 0.3s ease, width 0.3s ease;
  /* Adiciona transição */
}

.menu li:hover {
  cursor: pointer;
}

/* Ajusta a posição do underline quando o mouse passa sobre */
.menu li:nth-child(1):hover .animation {
  left: 0;
  width: 25%;
  /* Largura do underline */
}

.menu li:nth-child(2):hover .animation {
  left: 25%;
  /* Largura do underline */
  width: 25%;
  /* Largura do underline */
}

.menu li:nth-child(3):hover .animation {
  left: 50%;
  /* Largura do underline */
  width: 25%;
  /* Largura do underline */
}

.menu li:nth-child(4):hover .animation {
  left: 75%;
  /* Largura do underline */
  width: 25%;
  /* Largura do underline */
}


.name {
  background-image: linear-gradient(to right, #5c10f4, #8d10f4, #5d2ac2, #5c10f4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}